{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate "User details" %}{% endblock title %}

{% block main %}
    <h1>{% translate "User details" %}</h1>
    <ul>
        <li>{% translate "Username" %}: {{ object.username }}</li>
        <li>{% translate "First Name" %}: {{ object.first_name }}</li>       
        <li>{% translate "Last Name" %}: {{ object.last_name }}</li>
        <li>{% translate "Email" %}: {{ object.email }}</li>
    </ul>
    <a href="{% url 'update_user' user.id %}">{% translate "Update account" %}</a>
    <a href="{% url 'delete_user' user.id %}">{% translate "Delete account" %}</a>
{% endblock %}