{% extends 'base.html' %}

{% block title %}{{ action }} account{% endblock title %}
{% block main %}

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex flex-column">
                <input class="btn btn-secondary" type="submit" value="{{ action }}"></input>
            </div>
        </form>
        {% if action == 'Update' %}
            <a href="{% url 'password_change' %}">Change password</a>
        {% endif %}
    </div>

    <h1>{{ action }} account</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ action }}">
    </form>
    {% if action == 'Update' %}
        <a href="{% url 'password_change' %}">Change password</a>
    {% endif %}

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <form th:action="@{/users/create}" method="post">
            <div th:replace="~{fragments :: userForm('', '', 'Create user')}"></div>
        </form>
        <div class="text-center m-3">
            <p>You have an account?</p>
            <a class="text-center" href="/login">Login</a>
        </div>
    </div>
{% endblock %}