{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Users" %}{% endblock %}

{% block main %}
    <h1>{% translate "Users" %}</h1>
    <a href="{% url "register" %}">{% translate "Create user" %}</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% translate "Username" %}</th>
                <th scope="col">{% translate "First Name" %}</th>
                <th scope="col">{% translate "Last Name" %}</th>
                <th scope="col">{% translate "Email" %}</th>
                <th scope="col">{% translate "Groups" %}</th>
                <th scope="col">{% translate "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.username }}</td>
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td>{{ object.email }}</td>
                    <td>
                        {% for group in object.groups.all %}
                            {{ group }}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url "update_user" pk=object.pk %}">{% translate "Update" %}</a>
                        <a href="{% url "delete_user" pk=object.pk %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}