{% extends "bazaar/base.html" %}

{% block title %}Quienes somos{% endblock %}

{% block main %}
<h1>Quiénes Somos</h1>

<p>
    Bazaar, conectando personas para facilitar el intercambio seguro y fácil 
    de bienes, servicios y criptomonedas.
</p>

<h2>Nuestra Misión</h2>

<p>
    En Bazaar, nuestra misión es facilitar el intercambio entre personas de 
    una manera segura y accesible. Queremos crear un espacio donde los 
    usuarios puedan comprar, vender y conectar sin barreras, utilizando 
    criptomonedas o divisas tradicionales.
</p>

<h2>¿Cómo Funciona?</h2>

<p>
    Nuestra plataforma conecta a compradores y vendedores, permitiendo 
    que las transacciones se realicen entre pares. No intermediamos en 
    las compras, pero proporcionamos las herramientas necesarias para 
    facilitar el intercambio de bienes y servicios de manera segura. 
    Con Bazaar, puedes ponerte en contacto con personas para realizar 
    transacciones en diversas divisas, incluyendo criptomonedas. 
    Para ello los usuarios interesados en comprar o vender, publican 
    anuncios. Estos anuncios serán moderados antes de ser aprobados, 
    para garantizar que solo se muestren ofertas que cumplan los 
    términos y condiciones de la plataforma. Una vez aprobados, los 
    anuncios estarán visibles durante un mes.
</p>

<h2>Valores y Compromiso</h2>

<p>
    Nos importa tu seguridad y confianza. En Bazaar, nos comprometemos 
    a proporcionar un espacio donde las transacciones se realicen de 
    manera transparente, con sistemas de seguridad de última generación 
    y con un equipo siempre dispuesto a ayudarte.
</p>

<h2>¿Por qué Elegirnos?</h2>
<ul>
    <li>
        Seguridad: Nos comprometemos a proteger tus datos mediante diversas 
        medidas de seguridad y trabajamos paa implementar tecnologías de 
        cifrado para mejorar la privacidad de nuestros usuarios.
    </li>
    <li>
        Facilidad de uso: La plataforma es simple y fácil de navegar.
    </li>
    <li>
        Variedad de opciones: Compra, venta e intercambio de divisas y 
        criptomonedas.
    </li>
    <li>
        Soporte: Estamos aquí para asistirte en cada paso del proceso.
    </li>
</ul>

<h2>El Equipo Detrás</h2>

<p>
    Soy Ariel Hernández Scull, el creador de Bazaar. Como desarrollador 
    y emprendedor, decidí crear una plataforma que facilite la 
    compra-venta entre personas, con un enfoque en seguridad y 
    facilidad de uso. ¡Gracias por confiar en nosotros!
</p>

<h2>Contacto</h2>

<p>TODO: Put a contact form here</p>

<p>
    Unete a Bazaar y comienza a comerciar. Registrate ahora y explora 
    las categorías de anuncios!
</p>
{% endblock %}