{% extends "bazaar/base.html" %}

{% load i18n %}

{% block title_prefix %}{% translate "Confirm ad delete" %}{% endblock %}

{% block main %}
    <h1>{% translate "Confirm action" %}</h1>
    <p>{% translate "You are about to delete an ad. This action can be undone. Are you sure?" %}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="" class="btn">{% translate "No" %}</a>
        <button class="btn btn-danger" type="submit">{% translate "Yes" %}</button>
    </form>
{% endblock %}