{% extends "bazaar/base.html" %}

{% load i18n %}

{% block canonical_href %}{{ request.scheme }}://{{ request.get_host }}{% url "bazaar:ad_detail" slug=object.slug %}{% endblock  %}
{% block page_description %}{{ object.description | truncatechars:157 }}{% endblock  %}

{% block title_prefix %}{{ object.title }}{% endblock %}

{% block rich_snippet %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Product",
            "name": "{{ object.title }}",
            "description": "{{ object.description }}",
            {% if object.picture_0 %}
                "image": "{{ request.get_host }}/{{ object.picture_0 }}",
            {% endif %}
            "url": "{{ request.get_host }}/{% url 'bazaar:ad_detail' slug=object.slug %}"
        }
    </script>
{% endblock  %}

{% block main %}

    <div class="container">
        <nav aria-label="breadcrumb" class="bg-white">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="{% url "bazaar:home" %}">{% translate "Home" %}</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{% url "bazaar:ad_list" %}?category={{object.category.slug}}">{{ object.category }}</a>
                </li>
            </ol>
        </nav>
    
        <div class="bg-white">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="carousel carousel-fade" id="adCarousel">
                        <div class="carousel-inner">
                            {% for image_number in '0123456789' %}
                                {% cycle object.picture_0 object.picture_1 object.picture_2 object.picture_3 object.picture_4 object.picture_5 object.picture_6 object.picture_7 object.picture_8 object.picture_9 as ad_picture silent %}
                                {% if ad_picture %}
                                    <div class="carousel-item {% if image_number == "0" %}active{% endif %}">
                                        <img class="d-block mx-auto" src="{{ ad_picture.url }}" alt="{% blocktranslate %} Ad image {{ image_number }}{% endblocktranslate %}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#adCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">{% translate "Previous" %}</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#adCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">{% translate "Next" %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white">
            <h1 class="text-center">{{ object.title }}</h1>
        </div>

        <div class='bg-white'>
            <p><i class='bi bi-calendar'></i> {{ object.date }}</p>
            <p><i class='bi bi-cash'></i> {{ object.price }} {{ object.currency.code }}</p>
            <p>
                {% if object.alternative_currencies.all|length > 1 %}
                    {% translate "Also I accept / give:" %} 
                    {% for alternative_currency in object.alternative_currencies.all %}
                        {{ alternative_currency.name }} ({{ alternative_currency.code }})
                    {% endfor %}
                {% endif %}
            </p>
        </div>
        <div class='bg-white'>
            <pre style="white-space: pre-wrap; word-break: break-all; font-family: inherit; font-size: inherit">{{ object.description }}</pre>
        </div>
        <div class='bg-white'>
            <p><i class='bi bi-person'></i> {{ object.owner.username }}</p>
            {% if object.owner.profile.address %}
                <p><i class='bi bi-geo-alt'></i> {{ object.owner.profile.address }}</p>
            {% endif %}
            {% if object.owner.profile.phone %}
                <p><i class='bi bi-telephone'></i> {{ object.owner.profile.phone }}</p>
            {% endif %}
        </div>
        <div>
            {% if user.is_superuser or 'bazaar.change_ad' in user.get_all_permissions or object.owner.pk == user.pk %}
                <a class="btn btn-primary" href="{% url "bazaar:ad_update" slug=object.slug %}">{% translate "Update" %}</a>
            {% endif %}
            {% if user.is_superuser or 'bazaar.delete_ad' in user.get_all_permissions or object.owner.pk == user.pk %}
                <a class="btn btn-danger" href="{% url "bazaar:ad_delete" slug=object.slug %}">{% translate "Delete" %}</a>
            {% endif %}
            <a class="btn btn-info" href="{% url "bazaar:report_create" pk=object.pk %}">{% translate "Report" %}</a>
        </div>
    </div>
{% endblock %}