{% extends "bazaar/base.html" %}

{% block main %}
        
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url "bazaar:home" %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Search
            </li>            
        </ol>
    </div>
    
    <div>
        <p>Advanced search</p>
        <a href="{% url "bazaar:ad_list" %}">Clean filters</a>
        <form action="{% url "bazaar:ad_list" %}">
            {{ advanced_search_form.as_p }}
            <input class="btn btn-success" type="submit" value="Search">
        </form>
    </div>
    
    <div class="row">
        {% if object_list %}
            {% for object in object_list %}
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <a href="{% url "bazaar:ad_detail" pk=object.pk %}" class="link-underline-light">
                        <div class="card h-100 border-light bg-light p-2">
                            {% if object.picture_0 %}
                                <img src="{{ MEDIA_URL }}{{ object.picture_0 }}" alt="{{ object.title }}" class="card-img-top" style="object-fit: contain">
                            {% else %}
                                <img src="" alt="default ad image" class="card-img-top" style="object-fit: contain">
                            {% endif %}
                            <div class="card-body">
                                <h1 class="card-text">
                                    {% if object.title|length < 32 %}
                                        {{ object.title }}
                                    {% else %}
                                        {{ object.title|truncatechars:32 }}
                                    {% endif %}
                                </h1>
                                <p class="card-text fw-bold"> {{object.currency.code}} {{ object.price }}</p>
                                <p class="card-text">{{ object.address }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Your search don't return ads.</p>
        {% endif %}
    </div>

{% endblock %}