{% extends "base.html" %}

{% load static %}

{% block page_icon %}{% static "shop.svg" %}{% endblock %}

{% block page_description %}Buy, sell, rent things or services using fiat and crypto.{% endblock %}

{% block title %}{% block title_prefix %}{% endblock title_prefix %}, Bazaar{% endblock title %}


{% block header %}
    {% url "bazaar:home" as header_url %}
    {% include "bazaar/header.html" with url=header_url icon='shop' title='Bazaar' show_user_menu=True %}
{% endblock %}

{% block footer %}
    <div class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid justify-content-center">
            <p class="navbar-text">Bazaar 2024-02-28 {% now "Y-m-d" %}. All rights reserved.</p>
        </div>
    </div>
{% endblock %}