{% extends "bazaar/base.html" %}

{% load i18n %}

{% block canonical_href %}{{ request.scheme }}://{{ request.get_host }}{% url "bazaar:category_delete" slug=object.slug%}{% endblock %}
{% block page_description %}{{ category_description|default:_("Search results") }}{% endblock %}

{% block title_prefix %}{% translate "Confirm category delete" %}{% endblock %}

{% block title %}{% translate "Confirm action" %}{% endblock %}

{% block main %}
    <h1>{% translate "Are you sure?" %}</h1>
    <p>{% translate "You are about to delete a category and all objects related to them. This action can't be undone. Please confirm:" %}</p>
    <a href="{% url "bazaar:category_list" %}">{% translate "No" %}</a>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="{% translate "Yes" %}">
    </form>
{% endblock %}