{% extends "bazaar/base.html" %}

{% block title_prefix %}{% include "action_label.html" %} a category{% endblock %}

{% block main %}
    <h1>{% include "action_label.html" %} a category</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mx-auto p-2" style="width: 200px">
            <button class="btn btn-primary" type="submit">{% include "action_label.html" %} Category</button>
        </div>
    </form>
{% endblock %}