{% extends "bazaar/base.html" %}

{% load i18n %}

{% block title_prefix %}{% translate "Confirm delete currency" %}{% endblock %}

{% block main %}
    <h1>{% translate "Are you sure?" %}</h1>
    <p>{% translate "You are about to delete a currency and all objects related to them. This action can't be undone. Please confirm:" %}</p>
    <a class="btn btn-primary" href="{% url "bazaar:currency_list" %}">{% translate "No" %}</a>
    <form action="" method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="{% translate "Yes" %}">
    </form>
{% endblock %}