{% extends "bazaar/base.html" %}

{% load i18n %}

{% block canonical_href %}{{ request.scheme }}://{{ request.get_host }}{% if object.pk %}{% url "bazaar:currency_update" slug=object.slug%}{% else %}{% url "bazaar:currency_create" %}{% endif %}{% endblock %}
{% block page_description %}{% if object.pk %}{{ object.name }} {% else %}{% translate "Create new currency" %}{% endif %}{% endblock %}

{% block title_prefix %}{% include "action_label.html" %} {% translate "a currency" %}{% endblock  %}

{% block main %}
    <h1>{% include "action_label.html" %} {% translate "a currency" %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-4">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}        
        <div class="mx-auto p-2" style="width: 200px">
            <button type="submit" class="btn btn-success">{% include "action_label.html" %} {% translate "Currency" %}</button>
        </div>
    </form>
{% endblock %}
