{% extends "bazaar/base.html" %}

{% load i18n %}

{% block canonical_href %}{{ request.scheme }}://{{ request.get_host }}{% url "bazaar:currency_detail" slug=object.slug %}{% endblock %}
{% block page_description %}{% translate "Currency detail" %}{% endblock %}

{% block title_prefix %}{{ object.code }}{% endblock  %}

{% block main %}
    <h1>{{ object.name }}</h1>
    <p>{% translate "Code" %}: {{ object.code }}</p>
    <div>
        <a href="{% url "bazaar:currency_update" slug=object.slug %}">{% translate "Update" %}</a>
        <a href="{% url "bazaar:currency_delete" slug=object.slug %}">{% translate "Delete" %}</a>
    </div>
{% endblock %}