{% extends "header.html" %}

{% block offcanvas_header %}
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bazaar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
{% endblock %}

{% block offcanvas_body %}
    <form class="d-flex" role="search" action="{% url "bazaar:ad_list" %}" method="get">
        {{ simple_search_form.query }}
        <button class="btn btn-outline-success">Search</button>
    </form>
    <ul class="navbar-nav">
        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "bazaar:category_list" %}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "bazaar:currency_list" %}">Currencies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "bazaar:report_list" %}">Reports</a>
            </li>
        {% endif %}

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "bazaar:ad_create" %}">New Ad</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{% url "update_user"  pk=user.id %}">Account</a>
            </li>
            <li class="nav-item">
                <form action="{% url "logout" %}?next={{ request.path }}" method="post">
                    {% csrf_token %}
                    <input class="nav-link" type="submit" value="Logout">
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}?next={{ request.path }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "register" %}">Register</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}