{% extends "bazaar/base.html" %}

{% load i18n %}

{% block page_description %}{% translate "Buy and sell clothes, food and houses in Cuba with classified ads. Publish for free and reach more people with Bazaar." %}{% endblock %}

{% block title_prefix %}{% translate "Buy and sell in Cuba - Clothing, food and houses classifieds " %}{% endblock %}

{% block main %}

    <div class="row">
        <h1 style="position: absolute;width: 1px;height: 1px;
            padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;">
                {% translate "Categories" %}
        </h1>
        {% for object in object_list %}
            {% if object.priority %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="bg-white text-break mt-2 p-2">
                        <p>
                            {% if object.picture %}
                                <img src="{{ object.picture.url }}" alt="{{ object.name }}">
                            {% endif %}
                            {{ object.name }}
                        </p>
                        <ul class="list-group">
                            {% for child_object in object.subcategories.all %}
                                <li class="list-group-item">
                                    <a href="{% url "bazaar:ad_list" %}?category={{ child_object.slug }}">{{ child_object.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}