{% extends "bazaar/base.html" %}

{% load i18n %}

{% block canonical_href %}{{ request.scheme }}://{{ request.get_host }}{% url "bazaar:profile_detail" %}{% endblock %}
{% block page_description %}En Bazaar, la privacidad de nuestros usuarios es una prio...{% endblock %}

{% block title_prefix %}{% translate "User Profile" %}{% endblock %}

{% block main %}
    <h1>{% translate "User Profile" %}</h1>
    <ul>
        <li>{% translate "Username" %}: {{ user.username }}</li>
        <li>{% translate "First Name" %}: {{ user.first_name }}</li>
        <li>{% translate "Last Name" %}: {{ user.last_name }}</li>
        <li>{% translate "Email" %}: {{ user.email }}</li>
        <li>{% translate "Address" %}: {{ object.address }}</li>
        <li>{% translate "Phone" %}: {{ object.phone }}</li>
        <a class="btn btn-primary" href="{% url "bazaar:profile_update" %}">{% translate "Update" %}</a>
        <a class="btn btn-danger" href="{% url "delete_user" pk=user.pk %}">{% translate "Delete" %}</a>
    </ul>
{% endblock %}