{% extends "header.html" %}


{% block offcanvas_header %}
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Restaurant</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
{% endblock %}

{% block offcanvas_body %}
    <ul class="navbar-nav">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="btn btn-warning" href="">Book now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">About us</a>
            </li>
        </ul>
    </ul>
{% endblock %}