{% extends "toolbar.html" %}

{% block left_buttons %}
    <div class="nav-item">
        <a class="btn btn-primary" href="{% url 'note:create' %}">Create</a>
    </div>
{% endblock %}

{% block right_buttons %}    
    <div class="nav-item">
        <div class="d-flex">
            <span class="nav-link">Action: </span>
            <select class="form-select" name="action" id="">
                <option value="0" default>---</option>
                <option value="1">Delete</option>
            </select>
            <input class="btn btn-primary ms-2" type="submit" value="Go">
        </div>
    </div>
{% endblock %}