{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.11.3/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="shortcut icon" href="{% block page_icon %}{% static "favicon.ico" %}{% endblock %}" type="image/x-icon">
    <link rel="canonical" href="https://scullsuite.com/" />
    <meta name='description' content="{% block page_description %}{% translate "Scull Suite, applications to make your life easier" %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <!--To monetize my site-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8728947711978649"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid bg-secondary-subtle">
        {% block header %}{% endblock %}
        {% block nav %}{% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
    <script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>