{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}Scull Suite, {% translate "Applications to make your life easier" %}{% endblock %}

{% block header %}
    {% include "home_header.html" with icon="briefcase" title="Scull Suite" %}
{% endblock %}

{% block main %}

    <main class="container-fluid">
        
        <div id="start" class="text-light d-flex flex-column min-vh-100 justify-content-center align-items-center" style="background-image:url('{% static 'img/web_developer1.jpg' %}')">
            
            <h1 class="bg-dark">Scull Suite</h1>
            <h2 class="bg-dark">{% translate "Applications to make your life easier" %}</h2>
            <a class="btn btn-primary" href="#applications">{% translate "Show applications" %}</a>
        </div>

        <section id="applications" class="d-flex flex-column min-vh-100 text-center">
            
            <h2>{% translate "Applications" %}</h2>

            <div class="row">

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/feedback_app.jpg' %}" alt="{% translate "Feedback application" %}">
                        
                        <div class="card-body">
                            <p class="card-text">
                                Una aplicacion que te permite realizar encuestas y obtener estadisticas utiles para tu negocio o investigacion.
                            </p>
                            <a href="{% url "feedback:survey_list" %}" target="_blank">Feedback</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/restaurant_app.jpg' %}" alt="{% translate "Restaurant application" %}">
                        
                        <div class="card-body">
                            <p class="card-text">
                                Esta aplicación permite automatizar, mediante un asistente virtual,
                                la atencion de preguntas frecuentes por parte de los clientes de tu 
                                restaurante. En breve se añadiran mas funcionalidades. Mantente alerta!
                            </p>
                            <a href="{% url "restaurant:home" %}" target="_blank">Restaurant</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/note_project.png' %}" alt="Note project using Django and other tools">
                        
                        <div class="card-body">
                            <p class="card-text">
                                ¿Tienes notas en papel o digitales por todas partes? Es una pesadilla gestionarlas
                                y acaba con tu productividad.. Pues con esta aplicación podras gestionar tus notas, 
                                desde cualquier dispositivo y lugar. Pruébala!
                            </p>
        
                            <a href="{% url "note:list" %}" target="_blank">Note</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/bazaar_project.jpg' %}" alt="Bazaar project using Django and other tools">
                        
                        <div class="card-body">
                            <p class="card-text">
                                Esta aplicación te permite comprar, vender y alquilar bienes y servicios, utilizando
                                dinero fiudiciario y criptomonedas. Busca y encuentra lo que necesitas aquí!
                            </p>        
                            <a href="{% url "bazaar:home" %}" target="_blank">Bazaar</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="text-center" id="contact_me">
            
            <h2>{% translate "Contact" %}</h2>

            <img class="img-fluid" src="{% static 'img/telegram.svg' %}" alt="Telegram">
            <a href="http://t.me/ascull" target="_blank">Telegram</a>
            
            
            <img class="img-fluid" src="{% static 'img/linkedin.svg' %}" alt="LinkedIn">
            <a href="http://www.linkedin.com/in/ariel-scull-b4a598183" target="_blank">LinkedIn</a>

        </section>

    </main>
{% endblock %}