{% extends "header.html" %}

{% load i18n %}

{% block offcanvas_header %}
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Scull Suite</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{% translate "Close" %}"></button>
{% endblock  %}

{% block offcanvas_body %}
    <ul class="navbar-nav">
        <li>
            {% include "theme_button.html" %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#start">{% translate "Start" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#applications">{% translate "Applications" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact_me">{% translate "Contact" %}</a>
        </li>
    </ul>
{% endblock  %}