{% extends 'base.html' %}

{% load static %}

{% block title %}Scull Suite{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
        <!-- Reuse code using header.html -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/briefcase.png' %}" alt="Site logo, a portfolio" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toogle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#start">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#code">Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact_me">Contact</a>
                    </li>
                </ul>
            </div>
        </div>            
    </nav>
{% endblock %}

{% block main %}   

    <main class="container-fluid">
        
        <div id="start" class="text-light d-flex flex-column min-vh-100 justify-content-center align-items-center" style="background-image:url('{% static 'img/web_developer1.jpg' %}')">
            
            <h1 class="bg-dark">Ariel Hernandez Scull</h1>
            <h2 class="bg-dark">Web / ML Developer</h2>
            <a class="btn btn-primary" href="#portfolio">Show portfolio</a>
        </div>

        <section id="portfolio" class="d-flex flex-column min-vh-100 text-center">
            
            <h2>Portfolio</h2>

            <div class="row">

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/titanic_eda_notebook.png' %}" alt="Note project using Django and other tools">
                        
                        <div class="card-body">
                                
                            <div>
                                <img style="width:5vw" src="{% static 'img/python.svg' %}" alt="Python logo">
                                <img style="width:5vw" src="{% static 'img/numpy.svg' %}" alt="Numpy logo">
                                <img style="width:5vw" src="{% static 'img/pandas.svg' %}" alt="Pandas logo">
                                <img style="width:5vw" src="{% static 'img/matplotlib.svg' %}" alt="Matplotlib logo">
                                <img style="width:5vw" src="{% static 'img/seaborn.svg' %}" alt="Seaborn logo">
                                <img style="width:5vw" src="{% static 'img/google_colaboratory_logo.svg' %}" alt="Google Colaboratory logo">
                            </div>
                            
                            <p class="card-text">
                                Exploratory Data Analysis over <a href="https://www.kaggle.com/datasets/vinicius150987/titanic3">Titanic Dataset</a>
                                to understand data, find out correlations and determine what are the most important features to survive
                                Titanic accident.
                            </p>
        
                            <a href="{% url "titanic:form" %}">Titanic EDA Notebook</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/titanic_survivor_predictor_notebook.png' %}" alt="Screenshoot of Titanic Survivor Notebook">
                        
                        <div class="card-body">
                                
                            <div>
                                <img style="width:5vw" src="{% static 'img/python.svg' %}" alt="Python logo">
                                <img style="width:5vw" src="{% static 'img/numpy.svg' %}" alt="Numpy logo">
                                <img style="width:5vw" src="{% static 'img/pandas.svg' %}" alt="Pandas logo">
                                <img style="width:5vw" src="{% static 'img/scikitlearn.svg' %}" alt="Scikitlearn logo">
                                <img style="width:5vw" src="{% static 'img/google_colaboratory_logo.svg' %}" alt="Google Colaboratory logo">
                            </div>
                            
                            <p class="card-text">
                                On this notebook, I used the correlations between some features on Titanic Dataset, to create a Logistic Regression model, 
                                that classify and try to predict if a person will survive to Titanic accident.
                            </p>
        
                            <a href="{% url "titanic:form" %}">Titanic Survivor Predictor Notebook</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/titanic_survivor_app.png' %}" alt="Note project using Django and other tools">
                        
                        <div class="card-body">
                                
                            <div>                                
                                <img style="width:5vw" src="{% static 'img/python.svg' %}" alt="Python logo">
                                <img style="width:5vw" src="{% static 'img/numpy.svg' %}" alt="Numpy logo">
                                <img style="width:5vw" src="{% static 'img/pandas.svg' %}" alt="Pandas logo">
                                <img style="width:5vw" src="{% static 'img/scikitlearn.svg' %}" alt="Scikitlearn logo">
                                <img style="width:5vw" src="{% static 'img/django.svg' %}" alt="Django logo">
                                <img style="width:5vw" src="{% static 'img/bootstrap.svg' %}" alt="Bootstrap logo">
                            </div>
                            
                            <p class="card-text">
                                Web application that try to predict if you survive to Titanic sinking, using
                                Machine Learning algorithm over <a href="https://www.kaggle.com/datasets/vinicius150987/titanic3">Titanic Dataset</a>.
                            </p>
        
                            <a href="{% url "titanic:form" %}">Titanic</a>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4"> <!--Recommender engine-->
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/recommender_engine_eda.jpg' %}" alt="Screenshoot of Recommender Engine EDA Notebook">
                        
                        <div class="card-body">
                                
                            <div>
                                <img style="width:5vw" src="{% static 'img/python.svg' %}" alt="Python logo">
                                <img style="width:5vw" src="{% static 'img/numpy.svg' %}" alt="Numpy logo">
                                <img style="width:5vw" src="{% static 'img/pandas.svg' %}" alt="Pandas logo">
                                <img style="width:5vw" src="{% static 'img/google_colaboratory_logo.svg' %}" alt="Google Colaboratory logo">
                            </div>
                            
                            <p class="card-text">
                                Exploratory Data Analysis over <a href="https://datasets.imdbws.com/">Title Basics IMdb Dataset</a>
                                to understand what type of data are stored.
                            </p>
        
                            <a href="{% url "titanic:form" %}">Movie Dataset EDA Notebook</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/recommender_engine_clean_transform.jpg' %}" alt="Screenshoot showing clean and transform notebook for Movie Recommender Engine">
                        
                        <div class="card-body">
                                
                            <div>
                                <img style="width:5vw" src="{% static 'img/python.svg' %}" alt="Python logo">
                                <img style="width:5vw" src="{% static 'img/numpy.svg' %}" alt="Numpy logo">
                                <img style="width:5vw" src="{% static 'img/pandas.svg' %}" alt="Pandas logo">
                                <img style="width:5vw" src="{% static 'img/google_colaboratory_logo.svg' %}" alt="Google Colaboratory logo">
                            </div>
                            
                            <p class="card-text">
                                On this notebook, I clean and transform data, to generate a dataset more suitable for movie recommender engine.
                            </p>
        
                            <a href="{% url "titanic:form" %}">Movie Dataset Clean and Transform Notebook</a>
                        </div>
                        
                    </div>
                </div>                

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/recommender_engine_app.jpg' %}" alt="Screenshoot of Movie Recommender application">
                        
                        <div class="card-body">
                                
                            <div>                                
                                <img style="width:5vw" src="{% static 'img/python.svg' %}" alt="Python logo">
                                <img style="width:5vw" src="{% static 'img/numpy.svg' %}" alt="Numpy logo">
                                <img style="width:5vw" src="{% static 'img/pandas.svg' %}" alt="Pandas logo">
                                <img style="width:5vw" src="{% static 'img/scikitlearn.svg' %}" alt="Scikitlearn logo">
                                <img style="width:5vw" src="{% static 'img/django.svg' %}" alt="Django logo">
                                <img style="width:5vw" src="{% static 'img/bootstrap.svg' %}" alt="Bootstrap logo">
                            </div>
                            
                            <p class="card-text">
                                Web application that recommend similar movies, using pairwise distance between them and 
                                <a href="https://datasets.imdbws.com/">Title Basics IMdb dataset</a>.
                            </p>
        
                            <a href="{% url "movie:search_form" %}">Movie</a>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="card">
                        
                        <img class="card-img" src="{% static 'img/note_project.png' %}" alt="Note project using Django and other tools">
                        
                        <div class="card-body">
                                
                            <div>                                    
                                <img style="width:5vw" src="{% static 'img/postgresql.svg' %}" alt="PostgreSQL logo">
                                <img style="width:5vw" src="{% static 'img/python.svg' %}" alt="Python logo">
                                <img style="width:5vw" src="{% static 'img/django.svg' %}" alt="Django logo">
                                <img style="width:5vw" src="{% static 'img/bootstrap.svg' %}" alt="Bootstrap logo">
                            </div>
                            
                            <p class="card-text">
                                This application allows us manage notes, using web browser.
                            </p>
        
                            <a href="{% url "note:list" %}">Note</a>
                        </div>
                        
                    </div>
                </div>

            </div>
            
        </section>

        <section class="text-center" id="code">
            
            <h2>Code</h2>
            
            <p>You can see the code of the projects on <a href="https://github.com/arielb0">Github</a></p>

        </section>

        <section class="text-center" id="contact_me">
            
            <h2>Contact</h2>

            <img class="img-fluid" src="{% static 'img/telegram.svg' %}" alt="Telegram">
            <a href="http://t.me/ascull">Telegram</a>
            
            
            <img class="img-fluid" src="{% static 'img/linkedin.svg' %}" alt="LinkedIn">
            <a href="http://www.linkedin.com/in/ariel-scull-b4a598183">LinkedIn</a>

        </section>

    </main>
{% endblock %}