{% extends "feedback/base.html" %}

{% load i18n %}

{% block title_prefix %}{{ object.question.text }} | {% translate "Answer details" %} {% endblock %}

{% block main %}
    <h1>{% translate "Answer details" %}</h1>
    <ul>
        <li>{% translate "Survey:" %} {{ object.question.survey }}</li>
        <li>{% translate "Question:" %} {{ object.question.text }}</li>
        <li>{% translate "Answer:" %} {{ object.text }}</li>
    </ul>
    <div>
        <a class="btn btn-primary" href="{% url "feedback:answer_update" pk=object.pk %}">{% translate "Update" %}</a>
        <a class="btn btn-danger" href="{% url "feedback:answer_delete" pk=object.pk %}">{% translate "Delete" %}</a>
    </div>
{% endblock %}