{% extends "feedback/base.html" %}

{% load i18n %}

{% block title_prefix %}{% translate "Answer Delete Confirmation" %}{% endblock %}

{% block main %}
<h1>{% translate "Answer Delete Confirmation" %}</h1>
<p>{% translate "This process can be undone. Are you sure?" %}</p>
<a class="btn btn-primary" href="feedback:answer_list">{% translate "No" %}</a>
<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="{% translate "Yes" %}">
</form>
{% endblock %}