<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'movie:detail' id=movie.tconst %}">{{ movie.originalTitle }}</a></h5>
        <p class="card-text">{{ movie.startYear | floatformat }}</p>
        <p class="card-text">{{ movie.genres }}</p>
        <p class="card-text">{{ movie.type }}</p>
        <p class="card-text">
            {% for key, value in movie.items %}
                {% if value == 1  and key != 'similarity' %}
                    <span class='badge bg-secondary'>{{ key | title }}</span>
                {% endif %}
            {% endfor %}
        </p>
    </div>
</div>