{% extends "image2text/base.html" %}

{% load i18n %}

{% block title_prefix %}{% translate "Result" %}{% endblock %}

{% block main %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">{% translate "Success!" %}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {% translate "Text copied to clipboard" %}
            </div>
        </div>
    </div>
    <button id="clipboardButton" class='btn btn-primary'>{% translate "Copy to clipboard" %}</button>
    <div class="bg-body-tertiary">
        <pre id="output" style="white-space: pre-wrap; word-wrap: break-word;">{{ recognition_result }}</pre>
    </div>
{% endblock %}

{% block body_bottom %}
    <script>
        /** 
            Copy to clipboard
        **/
        successToast = document.getElementById('successToast');
        output = document.getElementById('output');
        clipboardButton = document.getElementById('clipboardButton');
        
        
        clipboardButton.addEventListener('click', () => {
            navigator.clipboard.writeText(output.textContent).then(() => {
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(successToast);
                toastBootstrap.show();
            })
        });
    </script>
{% endblock %}